
    body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
      margin: 0;
      padding: 16px;
      line-height: 1.8;
      background: #fafafa;
    }

    h1 {
      font-size: 1.6rem;
      margin-bottom: 8px;
    }

    h2 {
      margin-top: 24px;
      font-size: 1.3rem;
    }

    /* 資料カード用 */
    a.card {
      display: block;
      padding: 12px;
      margin: 8px 0;
      background: #fff;
      border-radius: 8px;
      text-decoration: none;
      color: #007aff;
    }

    /* 戻るカード用　*/
    a.card.back {
      background: #f2f2f2;
    }

    /* 参考文献 */
    .refs {
      padding-left: 1.2em; /* ・の位置 */
    }

    .refs > li {
      margin-bottom: 16px;
    }

    .level {
      margin: 4px 0 0 0;
      font-size: 0.9em;
      color: #555;
    }

    .comment-list {
      margin: 4px 0 0 1em;
      padding-left: 1em;
      font-size: 0.9em;
      color: #555;
    }

　　　body {
  　　　font-size: 17px;
　　　}

　　　a.card,
　　　a.card:visited {
  　　　color: #007aff;
　　　}

　　　a.card:hover,
　　　a.card:active {
  　　　opacity: 0.85;
　　　}

 
